JINA_EMBEDDING_API=jina_api_key_here

API_HOST=api_host_address
API_PORT=api_port_number
DEBUG=debug_mode

CHUNK_SIZE=chunk_size_value_here
CHUNK_OVERLAP=chunk_overlap_value_here

GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_EMBEDDING_MODEL=gemini_embedding_model
GEMINI_TEXT_EMBEDDING_MODEL=gemini_text_embedding_model

OPENAI_API_KEY=your_openai_api_key_here
OPENAI_EMBEDDING_MODEL=openai_embedding_model
OPENAI_MODEL=your_openai_model_here

AZURE_OPENAI_API_KEY=your_azure_openai_api_key_here
BASE_URL=your_azure_openai_base_url_here
AZURE_OPENAI_RESPONSES_DEPLOYMENT_NAME=your_azure_openai_responses_deployment_name_here

SESSION_TTL_MINUTES=session_time_to_live_in_minutes_here
SESSION_CLEANING_INTERVAL_MINUTES=session_cleaning_interval_in_minutes_here

JINA_EMBDEDDING_API=jina_api_key_here
JINA_EMBEDDING_MODEL_URI=jina_embedding_model_uri_here