<rule>
<title>{{rule_title}}</title>
<instruction>{{rule_instruction}}</instruction>
<description>{{rule_description}}</description>
<type>{{rule_type}}</type>
</rule>

<contract_paragraphs>
{{paragraphs}}
</contract_paragraphs>

Produce the JSON object now.
